---
layout: layouts/main
title: "Improving Hyperscience's design system"
---

<nav class="cs-nav" role="navigation">
	<a href="/#work" tabindex="0">< Go back</a>
	{% include "components/theme-switcher" %}
</nav>

<section class="cs">
	<div class="visual doc">
		
		{% include "svgs/visuals/visual-doc.liquid" %}
		
	</div>
	<h1>{{ title }}</h1>
	<p>At Hyperscience, I had the opportunity to discover efficient ways to improve our design system by surfacing quick-wins and establishing a common vocabulary within the different teams.</p>
	<h2>Case study Available on request</h2>
	<p>I'm currently assessing appropriate ways to publicly expose some of the more sensitive information inside this case study, whilst keeping the content meaningful and informative.</p>
	<p>In the meantime, should you be interested in this story, feel free to <a href="/#contact" class="inline-link">contact me</a></p>
		
		
</section>

