---
layout: layouts/main
title: 'Redesigning Skrills onboarding'
---

{% include components/section-header %}


<section class="cs">

	<h1>How we redesigned Skrill's onboarding flow</h1>
	<h2>Overview</h2>

	<p>At Skrill, our registration and onboarding process was sub-optimal. We identified this by looking at converstion rate numbers and doing a series of user interviews.</p>

	<p><strong>Our goal was to decrease the drop-off rate in our onboarding process.</strong></p>

	<h2>My role</h2>

	<ul>
		<li>Work with user researchers to <strong>gather insights</strong> for areas people were </li>struggling with.
		<li>Work with data analysts to <strong>review quantitative metrics</strong> in key points in the user's&nbsp;journey.</li>
		<li>Consolidate data and <strong>create a hypothesis for improvement</strong></li>
		<li><strong>Present</strong> ideas to stakeholders</li>
		<li>Leverage our design system to <strong>create a usable UI</strong></li>
		<li>Hand-off to developers and <strong>aid implementation</strong></li>
		<li>Work with product managers to <strong>plan, roll-out and oversee testing</strong></li>
	</ul>
	<h2>Identifying the problem</h2>

	<p>Our onboarding was burdoned by legacy features and technology. We knew things could be improved and were further convinced by looking at the data &ndash; there was a big drop-off when people were asked to provide additional details and complete their account.</p>

	{% include img/skrill/funnel1 %}


	<p>To gather a complete picture, we conducted a series of user interviews. What people told us matched what the funnel data was showing, providing more detail and nuance to the problem.</p>

	- User snippets

	<p>We discovered that the user journey was very fragmented, did not follow a predictable and logical flow &ndash; this confused and frustrated users.</p>

	<h2>An iterative approach</h2>

	<p>Our digital wallet provided many value props, each of which had it's own little stack prerequisites and flows. Instead of opting for a complete overhaul, we decided to go for the least amount changes that could generate the most improvement and could be tested and observed – an MVP, if you will.</p>

	<h2>Forming a hypothesis for improvement</h2>

	<p>Looking at the data, a few things were apparent:</p>
	<ul>
		<li>We did not do a good job of building a mental model for our users – people did not know what to expect at each step of their journey.</li>
		    - Lite dashboard
		<li>Increased context switching and deviations from their main task confused and frustrated users.</li>
	   	 - Context switch img
	</ul>

	<p>The idea to improve this was to reduce context switching &ndash; tweak people's perception that every step as well as their first deposit is part of one single 'account setup' phase.</p>

	- Anti-context switch img

	<p>We could achieve this by</p>
	<ol>
		<li>Setting expectations at the begining – what is necessary to do the thing I'm here to do.</li>
		<li>Make our system provide feedback at each step in the journy - where the user is and what's next.</li>
	- Wireframe images
	</ol>
	<p>Beyond these optimisations, the idea evolved into capturing the user's intent at the begining, providing relevant information and guiding people all the way beyond their account set-up to their main goal.</p>

	- Blue wireframe images

	<h2>Testing</h2>

	<p>A few tests were done on usertesting.com to gather perception and validate there are no major gaps in our concept.</p>

	<p>However, due to the fiscal nature of our product, we wanted to perform live tests on production with our customers. We did this using Adobe Target in a few key regions – aproximately half of the people were shown the new version of the onboarding and the other half the current implementation.</p>

	<h2>Implementation</h2>

	<p>In the spirit of fast and lean iteration, we leveraged our existing design systems and UI patterns to minimize development time and try to validate concepts instead of visuals.</p>

	<h2>Results</h2>

	<p>We saw an improvement across all areas and regions that we tested in.</p>

	- img overall

	<p>In some parts of the funnel the drop off rate was decreased by close to 30%. People were completing their account registartions more often.</p>

	- img full account

	<p>In others the change was not that big – deposits in the UK for example saw only a 2% improvement.</p>

	- uk deposits

	- funnels compared

	<h2>Lessons learned</h2>

	<p>This experience forsed us to look outside of our silos and consider flows more holistically – people don't want to just set-up an account and deposit money for the sake of it – they want to do something else outside of our product and our features are just means to an end.</p>

	{% include img/skrill/zoom-out %}
	

<!-- 	<p>When tackling big problems, doing small things imperfectly and testing them goes a long way. Redesigning the entire onboarding process, considering every possible use case, product flow and regulation that we need to abide by would have been an epic endeavour.  Tackling some problems to some extent quickly and then measuring the results surfaced valuable lessons in a critical part of our product.</p> -->
</section>

