---
layout: layouts/main
title: "Password required"
---

{% include "components/section-header.liquid" %}

<section class="cs">

	<div class="visual doc">
		{% include "svgs/visuals/visual-lock.liquid" %}
	</div>

	<h1>{{ title }}</h1>
	<p>This case study is currently private – you need a username and password to proceed.</p>

	<a href="/remodeling-the-on-prem-upgrade-process-at-hyperscience" class="button-text">Authenticate and view ></a>
		
</section>

