---
layout: layouts/main
title: "Remodeling the on-prem upgrade process at Hyperscience"
---

{% include "components/section-header.liquid" %}

<section class="cs">
	<div class="visual doc">
		
		{% include "svgs/visuals/visual-doc.liquid" %}
		
	</div>
	<h1>{{ title }}</h1>
	<p>In the meantime, should you be interested in this story, feel free to <a href="/#contact" class="inline-link">contact me</a></p>
		
		
</section>

