<section id="contact" role="region" aria-label="contact information">

	<div class="visual speech-bubble">
		<svg width="99" height="93" viewBox="0 0 99 93" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle id="bubble-joint1" cx="62.9999" cy="85.0001" r="8" fill="url(#b-paint0_linear)"/>
			<rect id="bubble-joint2" x="56.9999" y="56.0001" width="36" height="29" rx="14.5" fill="url(#b-paint1_linear)"/>
			<g id="bubble-head">
				<rect id="bubble-joint3" x="11" y="17.0001" width="82" height="56" rx="28" fill="url(#b-paint2_radial)"/>
				<g id="bubble-ovals">
					<path id="bubble-oval3" fill-rule="evenodd" clip-rule="evenodd" d="M61.9999 49.0001C63.6567 49.0001 64.9999 47.657 64.9999 46.0001C64.9999 44.3433 63.6567 43.0001 61.9999 43.0001C60.343 43.0001 58.9999 44.3433 58.9999 46.0001C58.9999 47.657 60.343 49.0001 61.9999 49.0001Z" fill="var(--c-high)"/>
					<path id="bubble-oval2" fill-rule="evenodd" clip-rule="evenodd" d="M51.9999 49.0001C53.6567 49.0001 54.9999 47.657 54.9999 46.0001C54.9999 44.3433 53.6567 43.0001 51.9999 43.0001C50.343 43.0001 48.9999 44.3433 48.9999 46.0001C48.9999 47.657 50.343 49.0001 51.9999 49.0001Z" fill="var(--c-high)"/>
					<path id="bubble-oval1" fill-rule="evenodd" clip-rule="evenodd" d="M41.9999 49.0001C43.6567 49.0001 44.9999 47.657 44.9999 46.0001C44.9999 44.3433 43.6567 43.0001 41.9999 43.0001C40.343 43.0001 38.9999 44.3433 38.9999 46.0001C38.9999 47.657 40.343 49.0001 41.9999 49.0001Z" fill="var(--c-high)"/>
				</g>
			</g>
			<circle id="bubble-f3" cx="13" cy="70" r="2" fill="#C4C4C4"/>
			<rect id="bubble-f2" x="92.5056" y="5.26282" width="8.08495" height="8.08495" transform="rotate(45 92.5056 5.26282)" fill="#EFEFEF"/>
			<rect id="bubble-f1" y="5.36194" width="16" height="11" rx="5.5" transform="rotate(-19.58 0 5.36194)" fill="#F4F4F4"/>
			<defs>
				<linearGradient id="b-paint0_linear" x1="57.6665" y1="90.3335" x2="68.9999" y2="83.0001" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
				<linearGradient id="b-paint1_linear" x1="88.7999" y1="78.9585" x2="66.9294" y2="65.5022" gradientUnits="userSpaceOnUse">
					<stop stop-color="#E7E7E7"/>
					<stop offset="1" stop-color="#CDCDCD"/>
				</linearGradient>
				<radialGradient id="b-paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(52.2763 44.6905) rotate(89.4284) scale(27.6918 40.5524)">
					<stop stop-color="white"/>
					<stop offset="1" stop-color="#ECECEC"/>
				</radialGradient>
			</defs>
		</svg>
	</div>
	<h1>Get in touch</h1>
	<p>Should you want to, you can contact me via <a href="mailto:todor@panev.net" rel="noopener" class="inline-link">email</a> or directly message me on <a href="https://twitter.com/todorpanev" rel="noopener" class="inline-link">twitter</a>.</p>


	{% include svgs/ribbons/ribbon-elsewhere-left %}


	<h3>Elsewhere on the web</h3>
	
	{% include svgs/ribbons/ribbon-elsewhere-right %}

	
	<ul class="socials">
		<li>
			<a href="https://www.linkedin.com/in/todorpanev/" target="_blank" rel="noopener">
				<span>Linkedin</span>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.37214 24H0.396429V7.97643H5.37214V24ZM2.88161 5.79066C1.29054 5.79066 0 4.47278 0 2.88167C1.13882e-08 2.1174 0.303597 1.38444 0.844003 0.844022C1.38441 0.303604 2.11736 0 2.88161 0C3.64586 0 4.3788 0.303604 4.91921 0.844022C5.45962 1.38444 5.76321 2.1174 5.76321 2.88167C5.76321 4.47278 4.47214 5.79066 2.88161 5.79066ZM23.9946 24H19.0296V16.1998C19.0296 14.3409 18.9921 11.9569 16.4427 11.9569C13.8557 11.9569 13.4593 13.9766 13.4593 16.0659V24H8.48893V7.97643H13.2611V10.1622H13.3307C13.995 8.90323 15.6177 7.57463 18.0386 7.57463C23.0743 7.57463 24 10.8908 24 15.198V24H23.9946Z" fill="#333333"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://github.com/panev" target="_blank" rel="noopener">
				<span>Github</span>
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.9993 0C5.373 0 0 5.5083 0 12.3047C0 17.7399 3.438 22.3516 8.20725 23.9788C8.80725 24.0918 9.02625 23.7119 9.02625 23.3859C9.02625 23.0937 9.01575 22.32 9.00975 21.2934C5.6715 22.0371 4.96725 19.6439 4.96725 19.6439C4.422 18.2228 3.63525 17.8445 3.63525 17.8445C2.5455 17.0809 3.71775 17.0963 3.71775 17.0963C4.9215 17.1832 5.55525 18.3643 5.55525 18.3643C6.62625 20.2445 8.364 19.7016 9.048 19.3863C9.15675 18.5912 9.46725 18.0491 9.81 17.7415C7.14525 17.4308 4.344 16.3757 4.344 11.661C4.344 10.3176 4.81125 9.21947 5.57925 8.35896C5.4555 8.04752 5.04375 6.79714 5.69625 5.10304C5.69625 5.10304 6.70425 4.77238 8.99625 6.36419C9.954 6.0912 10.98 5.95509 12.0007 5.9497C13.02 5.95509 14.0467 6.0912 15.0052 6.36419C17.2957 4.77238 18.3015 5.10304 18.3015 5.10304C18.9563 6.79714 18.5445 8.04752 18.4207 8.35896C19.1902 9.21947 19.6545 10.3176 19.6545 11.661C19.6545 16.3873 16.8487 17.4277 14.1757 17.7322C14.6062 18.1121 14.9902 18.8626 14.9902 20.0108C14.9902 21.6556 14.9753 22.9821 14.9753 23.3859C14.9753 23.715 15.1913 24.098 15.8003 23.9772C20.565 22.347 24 17.7384 24 12.3047C24 5.5083 18.627 0 11.9993 0" fill="#333333"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://medium.com/@panev" target="_blank" rel="noopener">
				<span>Medium</span>
				<svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.96155 4.08025C2.99256 3.7728 2.87368 3.46535 2.64627 3.2569L0.315278 0.422095V0H7.56151L13.1642 12.3867L18.0897 0H25V0.422095L23.005 2.35018C22.8344 2.48046 22.7465 2.69932 22.7827 2.91298V17.087C22.7465 17.3007 22.8344 17.5195 23.005 17.6498L24.9535 19.5779V20H15.1489V19.5779L17.1697 17.6029C17.3661 17.4049 17.3661 17.3424 17.3661 17.0401V5.58624L11.748 19.9635H10.9882L4.45524 5.58624V15.2215C4.39839 15.6279 4.53277 16.0344 4.81704 16.3262L7.44263 19.5362V19.9583H0V19.5414L2.62559 16.3262C2.90469 16.0344 3.03391 15.6227 2.96155 15.2215V4.08025Z" fill="#333333"/>
				</svg>
			</a>
		</li>
		<li>
			<a href="https://www.figma.com/@panev" target="_blank" rel="noopener">
				<span>Figma</span>
				<svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.0006 8.00156C13.0613 8.00156 14.0786 7.58005 14.8286 6.82976C15.5786 6.07947 16 5.06185 16 4.00078C16 2.93971 15.5786 1.92209 14.8286 1.1718C14.0786 0.42151 13.0613 0 12.0006 0L4.00176 0C2.94167 0 1.925 0.421263 1.1754 1.17112C0.425806 1.92097 0.00468699 2.93799 0.00468699 3.99844C0.00468699 5.05889 0.425806 6.07591 1.1754 6.82576C1.925 7.57561 2.94167 7.99688 4.00176 7.99688C2.94105 7.99688 1.92378 8.41838 1.17375 9.16868C0.42371 9.91897 0.00234407 10.9366 0.00234407 11.9977C0.00234407 13.0587 0.42371 14.0763 1.17375 14.8266C1.92378 15.5769 2.94105 15.9984 4.00176 15.9984C3.21075 15.998 2.43737 16.2322 1.77941 16.6714C1.12145 17.1106 0.60847 17.7352 0.305336 18.466C0.00220203 19.1969 -0.0774707 20.0013 0.076393 20.7774C0.230257 21.5536 0.610746 22.2667 1.16975 22.8265C1.72875 23.3864 2.44115 23.7678 3.21687 23.9227C3.99259 24.0775 4.79679 23.9987 5.52776 23.6964C6.25873 23.394 6.88366 22.8815 7.3235 22.2239C7.76335 21.5662 7.99837 20.7928 7.99883 20.0016V8.00156H12.0006ZM12.0006 8.00156C11.21 8.00156 10.4372 8.23607 9.77993 8.67542C9.12262 9.11477 8.6103 9.73925 8.30777 10.4699C8.00524 11.2005 7.92609 12.0044 8.08032 12.7801C8.23455 13.5557 8.61523 14.2681 9.17423 14.8273C9.73323 15.3865 10.4454 15.7673 11.2208 15.9216C11.9962 16.0759 12.7998 15.9967 13.5302 15.6941C14.2606 15.3914 14.8848 14.879 15.324 14.2214C15.7632 13.5639 15.9977 12.7908 15.9977 12C15.9975 10.9396 15.5764 9.92264 14.8268 9.17282C14.0772 8.42299 13.0606 8.00169 12.0006 8.00156Z" fill="#333333"/>
				</svg>
			</a>
		</li>
	</ul>

</section>