<section id="contact" role="region" aria-label="contact information">

	<div class="visual speech-bubble">
		
		{% include "svgs/visuals/visual-speech" %}
		
	</div>
	<h1>Get in touch</h1>
	<p>Should you want to, you can contact me via <a href="mailto:todor@panev.net" rel="noopener" class="inline-link">email</a> or directly message me on <a href="https://twitter.com/todorpanev" rel="noopener" class="inline-link">twitter</a>.</p>

	{% include "svgs/ribbons/ribbon-elsewhere-left" %}


	<h3>Elsewhere on the web</h3>
	
	{% include "svgs/ribbons/ribbon-elsewhere-right" %}

	
	<ul class="socials">
		<li>
			<a href="https://www.linkedin.com/in/todorpanev/" target="_blank" rel="noopener">
				<span>Linkedin</span>
				{% include "svgs/socials/social-linkedin" %}
			</a>
		</li>
		<li>
			<a href="https://github.com/panev" target="_blank" rel="noopener">
				<span>Github</span>
				{% include "svgs/socials/social-github" %}
				
			</a>
		</li>
		<li>
			<a href="https://medium.com/@panev" target="_blank" rel="noopener">
				<span>Medium</span>
				{% include "svgs/socials/social-medium" %}
			</a>
		</li>
		<li>
			<a href="https://www.figma.com/@panev" target="_blank" rel="noopener">
				<span>Figma</span>
				{% include "svgs/socials/social-figma" %}
			</a>
		</li>
	</ul>

</section>