<section id="hello" role="region" aria-label="greeting section">

	<div class="visual rocket">
		
		{% include svgs/visuals/visual-rocket %}

	</div>
	<h1>Hi there</h1>
	<p>I’m Todor – a product designer based in Sofia, Bulgaria.</p>
	<p><span class="fixed">I currently work at <a href="https://www.paysafe.com/" class="inline-link" target="_blank" rel="noopener">Paysafe</a> on the <a href="https://www.skrill.com/" class="inline-link" target="_blank" rel="noopener">Skrill</a> digital wallet.</span>🔭 I'm currently looking for my next role as a Product&nbsp;Designer</p>

	<div class="more-about">
		<p>I’ve spent most of my career helping build digital products.</p>
		<p>When I started out doing this, most designers were required to code – which was awesome and is still something I enjoy doing. Today, after having gone through a few different design roles, I spend most of my time trying to fuse  people’s needs with business' wants.</p>
		<p>Interests include climbing on top of big rocks, reading &amp; writing about interaction design and perpetually creating new&nbsp;things.</p>
	</div>

	{% include svgs/hello-separator %}

	<a id="helloAction" tabindex="0" class="button-text">Read a bit more</a>

</section>