<section id="hello" role="region" aria-label="greeting section">

	<div class="visual rocket">
		
		{% include "svgs/visuals/visual-rocket" %}

	</div>
	<h1>Hi there</h1>
	<p>I’m Todor – a product designer based in Sofia, Bulgaria.</p>
	<p class="fixed">I currently work at <a href="https://hyperscience.com" class="inline-link" target="_blank" rel="noopener">Hyperscience</a>, the automation company.</p>
	<p>I'm currently open to new professional opportunities!</p>

	<div class="more-about">
		<p>I’ve spent most of my career helping build digital products.</p>
		<p>When I started out doing this, most designers were required to code – which was awesome and is still something I enjoy doing. I think building ones ideas forces one to elevate ones craft.</p>
		<p>Today, after having gone through a few different design roles, I spend most of my time trying to fuse people’s needs with business' wants by doing different types of discovery, synthesis, socialization and execution.</p>
		<p>Interests include climbing on top of big rocks, reading &amp; writing about interaction design and perpetually creating new&nbsp;things.</p>
	</div>

	{% include "svgs/hello-separator" %}

	<a id="helloAction" tabindex="0" class="button-text">Read a bit more</a>

</section>