<section id="hello" role="region" aria-label="greeting section">

	<div class="visual rocket">
		
		<svg width="86" height="123" viewBox="0 0 86 123" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g id="rocket">
				<g id="rocket-body">
					<path id="Oval 7 Copy 4" fill-rule="evenodd" clip-rule="evenodd" d="M22 77C26.4183 77 30 71.4036 30 64.5C30 57.5964 26.4183 52 22 52C17.5817 52 14 57.5964 14 64.5C14 71.4036 17.5817 77 22 77Z" fill="url(#paint0_linear)"/>
					<path id="Oval 7 Copy 5" fill-rule="evenodd" clip-rule="evenodd" d="M46 77C50.4183 77 54 71.4036 54 64.5C54 57.5964 50.4183 52 46 52C41.5817 52 38 57.5964 38 64.5C38 71.4036 41.5817 77 46 77Z" fill="url(#paint1_linear)"/>
					<path id="Oval 7" fill-rule="evenodd" clip-rule="evenodd" d="M34 89C40.9036 89 46.5 71.3152 46.5 49.5C46.5 27.6848 40.9036 10 34 10C27.0964 10 21.5 27.6848 21.5 49.5C21.5 71.3152 27.0964 89 34 89Z" fill="url(#paint2_radial)"/>
					<path id="Oval 10" fill-rule="evenodd" clip-rule="evenodd" d="M34 38C37.3137 38 40 35.3137 40 32C40 28.6863 37.3137 26 34 26C30.6863 26 28 28.6863 28 32C28 35.3137 30.6863 38 34 38Z" fill="url(#paint3_linear)"/>
					<path id="Oval 11" fill-rule="evenodd" clip-rule="evenodd" d="M34 52C36.2091 52 38 50.2091 38 48C38 45.7909 36.2091 44 34 44C31.7909 44 30 45.7909 30 48C30 50.2091 31.7909 52 34 52Z" fill="url(#paint4_linear)"/>
					<path id="Oval 7 Copy" fill-rule="evenodd" clip-rule="evenodd" d="M34 93C35.3807 93 36.5 86.0604 36.5 77.5C36.5 68.9396 35.3807 62 34 62C32.6193 62 31.5 68.9396 31.5 77.5C31.5 86.0604 32.6193 93 34 93Z" fill="url(#paint5_linear)"/>
				</g>
				<g id="rocket-beams">
					<rect id="rocket-beam-3-1" x="38" y="93" width="4" height="16" rx="2" fill="var(--c-high)"/>
					<rect id="rocket-beam-2-1" x="32" y="97" width="4" height="8" rx="2" fill="var(--c-high)"/>
					<rect id="rocket-beam-2-2" x="32" y="107" width="4" height="16" rx="2" fill="var(--c-high)"/>
					<rect id="rocket-beam-1-1" x="26" y="91" width="4" height="20" rx="2" fill="var(--c-high)"/>
					<rect id="rocket-beam-1-2" x="26" y="113" width="4" height="4" rx="2" fill="var(--c-high)"/>
					<rect id="rocket-beam-3-2" x="38" y="111" width="4" height="7" rx="2" fill="var(--c-high)"/>
				</g>
			</g>
			<path id="rocket-oval-small" d="M3 38C4.65685 38 6 36.6569 6 35C6 33.3431 4.65685 32 3 32C1.34315 32 0 33.3431 0 35C0 36.6569 1.34315 38 3 38Z" fill="#D8D8D8"/>
			<path id="rocket-oval-medium" d="M59 105C62.3137 105 65 102.314 65 99C65 95.6863 62.3137 93 59 93C55.6863 93 53 95.6863 53 99C53 102.314 55.6863 105 59 105Z" fill="#F0F0F0"/>
			<path id="rocket-oval-large" d="M74 24C80.6274 24 86 18.6274 86 12C86 5.37258 80.6274 0 74 0C67.3726 0 62 5.37258 62 12C62 18.6274 67.3726 24 74 24Z" fill="#F7F7F7"/>
			<defs>
				<linearGradient id="paint0_linear" x1="14" y1="65" x2="26" y2="65" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
				<linearGradient id="paint1_linear" x1="54" y1="65" x2="38" y2="65" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
				<radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(34 33.5) rotate(90) scale(55.5 16.6347)">
					<stop stop-color="#F9F9F9"/>
					<stop offset="1" stop-color="#E2E2E2"/>
				</radialGradient>
				<linearGradient id="paint3_linear" x1="34" y1="38" x2="31.5125" y2="26.54" gradientUnits="userSpaceOnUse">
					<stop stop-color="#E7E7E7"/>
					<stop offset="1" stop-color="#CDCDCD"/>
				</linearGradient>
				<linearGradient id="paint4_linear" x1="34" y1="52" x2="32.3416" y2="44.36" gradientUnits="userSpaceOnUse">
					<stop stop-color="#E7E7E7"/>
					<stop offset="1" stop-color="#CDCDCD"/>
				</linearGradient>
				<linearGradient id="paint5_linear" x1="34" y1="63" x2="34" y2="93" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
			</defs>
		</svg>


	</div>
	<h1>Hi there</h1>
	<p>I’m Todor – a product designer based in Sofia, Bulgaria.</p>
	<p><span class="fixed">I currently work at <a href="https://www.paysafe.com/" class="inline-link" target="_blank" rel="noopener">Paysafe</a> on the <a href="https://www.skrill.com/" class="inline-link" target="_blank" rel="noopener">Skrill</a> digital wallet.</span> I'm currently looking for a new role as a Product Designer</p>

	<div class="more-about">
		<p>I’ve spent most of my career helping build digital products.</p>
		<p>When I started out doing this, most designers were required to code – which was awesome and is still something I enjoy doing. Today, after having gone through a few different design roles, I spend most of my time trying to fuse  people’s needs with business' wants.</p>
		<p>Interests include climbing the occasional rock, writing about interaction design and to perpetually create new&nbsp;things.</p>
	</div>

	<svg class="hello-separator" width="720" height="8" viewBox="0 0 720 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	<line x1="324" y1="4.5" y2="4.5" stroke="#D8D8D8"/>
	<line x1="720" y1="4.5" x2="396" y2="4.5" stroke="#D8D8D8"/>
	<path d="M340.5 4C340.5 2.067 342.067 0.5 344 0.5C345.933 0.5 347.5 2.067 347.5 4C347.5 5.933 345.933 7.5 344 7.5C342.067 7.5 340.5 5.933 340.5 4Z" stroke="#D8D8D8"/>
	<path d="M356.5 4C356.5 2.067 358.067 0.5 360 0.5C361.933 0.5 363.5 2.067 363.5 4C363.5 5.933 361.933 7.5 360 7.5C358.067 7.5 356.5 5.933 356.5 4Z" stroke="#D8D8D8"/>
	<path d="M372.5 4C372.5 2.067 374.067 0.5 376 0.5C377.933 0.5 379.5 2.067 379.5 4C379.5 5.933 377.933 7.5 376 7.5C374.067 7.5 372.5 5.933 372.5 4Z" stroke="#D8D8D8"/>
	</svg>

	<a id="helloAction" tabindex="0" class="button-text">Read a bit more</a>

</section>