<section id="work" role="region" aria-label="work showcase">

	<div data-analytics='"Action: Visclick Coffee"' class="visual coffee">

		{% include "svgs/visuals/visual-coffee" %}

	</div>

	<h1>Work</h1>

	{% include "svgs/ribbons/ribbon-stories-left" %}

	<h3>Stories of products I've helped make</h3>

	{% include "svgs/ribbons/ribbon-stories-right" %}
	
	<ul class="work-list case-studies">
		<li>
			<a href="/onboarding-redesign-case-study">
			
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-onboarding" %}
				</div>
				<h4>Redesigning Skrill's onboarding journey</h4>
				<span class="description"><strong>The story</strong> of how we identified major issues in our new customer journey and what we did to fix them.</span>
			</a>
		</li>
		{% comment %} <li class="nothing-to-see-here">this is just a placeholder for the gap</li> {% endcomment %}
		<li>
			<a href="/remodeling-the-on-prem-upgrade-process-at-hyperscience/">
			
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-clock" %}
				</div>
				<h4>Remodeling the on-prem upgrade process at Hyperscience</h4>
				<span class="description"><strong>A look into</strong> how we reimagined upgrades in order to reduce time-to-value for enterprise customers.</span>
			</a>
		</li>
	
	</ul>

	{% include "svgs/ribbons/ribbon-projects-left" %}

	<h3>Experiments & perosnal projects</h3>
	
	{% include "svgs/ribbons/ribbon-projects-right" %}
	
	<ul class="work-list personal-projects">
		<li class="inactive">
			<a>

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-sintez" %}
				</div>
				<h4>Sintez Podcast Studio</h4>
				<span class="description">A a podcast studio <strong>business</strong></span>

			</a>
		</li>
		<li class="inactive">
			<a>

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-typings" %}
				</div>
				<h4>Typings</h4>
				<span class="description">A <strong>web app</strong> that helps you learn how to type fast in cyrillic!</span>

			</a>
		</li>
 		<li>
			<a data-analytics='"Action: EXTLINK Personal TextCounts"' href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
			
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-textcounts" %}
				</div>
				<h4>Text counts</h4>
				<span class="description">A <strong>Figma plug-in</strong> that lets you count characters with ease</span>

			</a>
		</li>
	</ul>

	{% include "svgs/ribbons/ribbon-stories-left" %}

	<h3>Writing</h3>

	{% include "svgs/ribbons/ribbon-stories-right" %}
	
	<ul class="work-list articles">
		<li>
			<a data-analytics='"Action: EXTLINK Article NumOfClicks"' href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-clicks" %}
				</div>
				<h4>The number of clicks</h4>
				<span class="description">Are fewer interactions better? Does counting clicks make sense?</span>
			
			</a>
		</li>
		<li>
			<a data-analytics='"Action: EXTLINK Article html"' href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-why" %}
				</div>
				<h4>Why I built my new website as a single html document</h4>
				<span class="description">Musings for a simpler web</span>

			</a>
		</li>
	</ul>

</section>