<section id="work" role="region" aria-label="work showcase">

	<div class="visual coffee">

		<svg width="75" height="98" viewBox="0 0 75 98" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g id="cup-shadow">
				<path id="Ellipse 13" d="M65 92C65 98 51.3447 98 34.5 98C17.6553 98 4 98 4 92C4 88.6863 17.6553 86 34.5 86C51.3447 86 65 88.6863 65 92Z" fill="url(#paint0_radial)"/>
				<path id="Ellipse 14" opacity="0.5" d="M58.4933 90C58.4933 93 54.1236 93 48.7333 93C43.343 93 38.9733 93 38.9733 90C38.9733 88.3431 43.343 87 48.7333 87C54.1236 87 58.4933 88.3431 58.4933 90Z" fill="url(#paint1_radial)"/>
			</g>
			<g id="cup">
				<path id="holder" fill-rule="evenodd" clip-rule="evenodd" d="M55 55C55 60.5228 59.4772 65 65 65C70.5228 65 75 60.5228 75 55C75 49.4772 70.5228 45 65 45C59.4772 45 55 49.4772 55 55Z" fill="url(#paint2_linear)"/>
				<path id="cupcup" fill-rule="evenodd" clip-rule="evenodd" d="M0 40.6349C0 58.869 14.9764 73.6508 33.4508 73.6508C51.9252 73.6508 66.9016 58.869 66.9016 40.6349L0 40.6349Z" fill="url(#paint3_whatevs)"/>
				<g id="fumes">
					<rect id="f1" x="23" y="12" width="4" height="24" rx="2" fill="var(--c-high)"/>
					<rect id="f2" x="31" width="4" height="36" rx="2" fill="var(--c-high)"/>
					<rect id="f3" x="39" y="24.127" width="4" height="12" rx="2" fill="var(--c-high)"/>
				</g>
				<path id="cup-tri" d="M6 5.73471L17.8266 4L13.0474 15L6 5.73471Z" fill="#E2E2E2"/>
				<path id="cup-oval-big" fill-rule="evenodd" clip-rule="evenodd" d="M55 45C57.2091 45 59 43.2091 59 41C59 38.7909 57.2091 37 55 37C52.7909 37 51 38.7909 51 41C51 43.2091 52.7909 45 55 45Z" fill="#F0EFEF"/>
				<path id="cup-oval-small" fill-rule="evenodd" clip-rule="evenodd" d="M41 17C42.1046 17 43 16.1046 43 15C43 13.8954 42.1046 13 41 13C39.8954 13 39 13.8954 39 15C39 16.1046 39.8954 17 41 17Z" fill="#F0EFEF"/>
			</g>
			<defs>
				<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(34.5 92) rotate(90) scale(6 30.5)">
					<stop stop-color="#C4C4C4"/>
					<stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
				</radialGradient>
				<radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.7333 90) rotate(90) scale(3 9.76)">
					<stop stop-color="#C4C4C4"/>
					<stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
				</radialGradient>
				<linearGradient id="paint2_linear" x1="75" y1="55" x2="55" y2="55" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
				<linearGradient id="paint3_whatevs" x1="33" y1="73" x2="33" y2="40" gradientUnits="userSpaceOnUse">
					<stop id="cup-stop" offset="0" stop-color="#DCDCDC"/>
					<stop offset="1" stop-color="#F0EFEF"/>
				</linearGradient>
			</defs>
		</svg>

	</div>

	<h1>Work</h1>
	<p>stories of product design & web apps I’ve built</p>
	
	{% include svgs/ribbons/ribbon-stories-left %}

	<h3>Stories</h3>

	{% include svgs/ribbons/ribbon-stories-right %}
	
	<ul class="work-list case-studies">
		<li>
			<a href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				<span>The number of clicks</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-clicks %}

			</div>
			<h4>The number of clicks</h4>
			<h5>Exploring if fewer interactions are infact better</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">
				<span>Why I build my new website as a single html document</span>
			</a>
			<div class="thumbnail">

				{% include svgs/thumbs/thumbs-why %}

			</div>
			<h4>Why I build my new website as a single html document</h4>
			<h5>A few notes around my new portfolio page</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

	{% include svgs/ribbons/ribbon-projects-left %}
	

	<h3>Personal projects</h3>
	
	{% include svgs/ribbons/ribbon-projects-right %}
	

	<ul class="work-list personal-projects">
		<li>
			<a href="https://typings.app" target="_blank" rel="noopener">
				<span>Typings web app</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-typings %}

			</div>
			<h4>Typings: web app</h4>
			<h5>Break-in that new keyboard, in cyrillic!</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://lockedin.app" target="_blank" rel="noopener">
				<span>Lockedin: progressive web app</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-lockedin %}
				
			</div>
			<h4>Lockedin: progressive web app</h4>
			<h5>Streaming online radio </h5>
			<span class="button-text">View</span>
		</li>
 		<li>
			<a href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
				<span>Text counts: Figma plug-in</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-textcounts %}

			</div>
			<h4>Text counts: Figma plug-in</h4>
			<h5>Count characters and words with ease</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

</section>