<section id="work" role="region" aria-label="work showcase">

	<div class="visual coffee">

		{% include svgs/visuals/visual-coffee %}

	</div>

	<h1>Work</h1>
	
	{% include svgs/ribbons/ribbon-stories-left %}

	<h3>Case studies</h3>

	{% include svgs/ribbons/ribbon-stories-right %}
	
	<ul class="work-list case-studies">
		<li>
			<a href="/onboarding-redesign-case-study">
			
				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-onboarding %}
				</div>
				<h4>Redesigning Skrill's onboarding <span><strong>The story</strong> of how we identified major issues in new customer journey and what we did to fix them.</span></h4>
			</a>
		</li>
	</ul>

	{% include svgs/ribbons/ribbon-projects-left %}

	<h3>Things I've made</h3>
	
	{% include svgs/ribbons/ribbon-projects-right %}
	

	<ul class="work-list personal-projects">
		<li>
			<a href="https://designbits.transistor.fm/subscribe" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-mic %}
				</div>
				<h4>Design Bits <span><strong>A Podcast</strong> about product design</span></h4>

			</a>
		</li>
		<li>
			<a href="https://sintez.studio" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-sintez %}
				</div>
				<h4>Sintez Podcast Studio <span><strong>A website</strong> for a podcast studio</span></h4>

			</a>
		</li>
		<li>
			<a href="https://typings.app" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-typings %}
				</div>
				<h4>Typings <span><strong>A web app</strong> that helps you learn how to type fast in cyrillic!</span></h4>

			</a>
		</li>
		<li>
			<a href="https://lockedin.app" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-lockedin %}
				</div>
				<h4>Lockedin <span><strong>A progressive web app</strong> for streaming online radio</span></h4>

			</a>
		</li>
 		<li>
			<a href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
			
				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-textcounts %}
				</div>
				<h4>Text counts <span><strong>A Figma plug-in</strong> that lets you count characters with ease</span></h4>

			</a>
		</li>
	</ul>

	{% include svgs/ribbons/ribbon-stories-left %}

	<h3>Articles</h3>

	{% include svgs/ribbons/ribbon-stories-right %}
	
	<ul class="work-list articles">
		<li>
			<a href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				
				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-clicks %}
				</div>
				<h4>The number of clicks <span>Are fewer interactions better?</span></h4>
			
			</a>
		</li>
		<li>
			<a href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include svgs/thumbs/thumbs-why %}
				</div>
				<h4>Why I built my new website as a single html document</h4>

			</a>
		</li>
	</ul>

</section>