<section id="work" role="region" aria-label="work showcase">

	<div class="visual coffee">

		{% include svgs/visuals/visual-coffee %}

	</div>

	<h1>Work</h1>
	<p>stories of product design & web apps I’ve built</p>
	
	{% include svgs/ribbons/ribbon-stories-left %}

	<h3>Stories</h3>

	{% include svgs/ribbons/ribbon-stories-right %}
	
	<ul class="work-list case-studies">
		<li>
			<a href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				<span>The number of clicks</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-clicks %}

			</div>
			<h4>The number of clicks</h4>
			<h5>Exploring if fewer interactions are infact better</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">
				<span>Why I build my new website as a single html document</span>
			</a>
			<div class="thumbnail">

				{% include svgs/thumbs/thumbs-why %}

			</div>
			<h4>Why I build my new website as a single html document</h4>
			<h5>A few notes around my new portfolio page</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

	{% include svgs/ribbons/ribbon-projects-left %}
	

	<h3>Personal projects</h3>
	
	{% include svgs/ribbons/ribbon-projects-right %}
	

	<ul class="work-list personal-projects">
		<li>
			<a href="https://typings.app" target="_blank" rel="noopener">
				<span>Typings web app</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-typings %}

			</div>
			<h4>Typings: web app</h4>
			<h5>Break-in that new keyboard, in cyrillic!</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://lockedin.app" target="_blank" rel="noopener">
				<span>Lockedin: progressive web app</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-lockedin %}
				
			</div>
			<h4>Lockedin: progressive web app</h4>
			<h5>Streaming online radio </h5>
			<span class="button-text">View</span>
		</li>
 		<li>
			<a href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
				<span>Text counts: Figma plug-in</span>
			</a>
			<div class="thumbnail">
				
				{% include svgs/thumbs/thumbs-textcounts %}

			</div>
			<h4>Text counts: Figma plug-in</h4>
			<h5>Count characters and words with ease</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

</section>