<section id="work" role="region" aria-label="work showcase">

	<div class="visual coffee">

		<svg width="75" height="98" viewBox="0 0 75 98" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g id="cup-shadow">
				<path id="Ellipse 13" d="M65 92C65 98 51.3447 98 34.5 98C17.6553 98 4 98 4 92C4 88.6863 17.6553 86 34.5 86C51.3447 86 65 88.6863 65 92Z" fill="url(#paint0_radial)"/>
				<path id="Ellipse 14" opacity="0.5" d="M58.4933 90C58.4933 93 54.1236 93 48.7333 93C43.343 93 38.9733 93 38.9733 90C38.9733 88.3431 43.343 87 48.7333 87C54.1236 87 58.4933 88.3431 58.4933 90Z" fill="url(#paint1_radial)"/>
			</g>
			<g id="cup">
				<path id="holder" fill-rule="evenodd" clip-rule="evenodd" d="M55 55C55 60.5228 59.4772 65 65 65C70.5228 65 75 60.5228 75 55C75 49.4772 70.5228 45 65 45C59.4772 45 55 49.4772 55 55Z" fill="url(#paint2_linear)"/>
				<path id="cupcup" fill-rule="evenodd" clip-rule="evenodd" d="M0 40.6349C0 58.869 14.9764 73.6508 33.4508 73.6508C51.9252 73.6508 66.9016 58.869 66.9016 40.6349L0 40.6349Z" fill="url(#paint3_whatevs)"/>
				<g id="fumes">
					<rect id="f1" x="23" y="12" width="4" height="24" rx="2" fill="var(--c-high)"/>
					<rect id="f2" x="31" width="4" height="36" rx="2" fill="var(--c-high)"/>
					<rect id="f3" x="39" y="24.127" width="4" height="12" rx="2" fill="var(--c-high)"/>
				</g>
				<path id="cup-tri" d="M6 5.73471L17.8266 4L13.0474 15L6 5.73471Z" fill="#E2E2E2"/>
				<path id="cup-oval-big" fill-rule="evenodd" clip-rule="evenodd" d="M55 45C57.2091 45 59 43.2091 59 41C59 38.7909 57.2091 37 55 37C52.7909 37 51 38.7909 51 41C51 43.2091 52.7909 45 55 45Z" fill="#F0EFEF"/>
				<path id="cup-oval-small" fill-rule="evenodd" clip-rule="evenodd" d="M41 17C42.1046 17 43 16.1046 43 15C43 13.8954 42.1046 13 41 13C39.8954 13 39 13.8954 39 15C39 16.1046 39.8954 17 41 17Z" fill="#F0EFEF"/>
			</g>
			<defs>
				<radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(34.5 92) rotate(90) scale(6 30.5)">
					<stop stop-color="#C4C4C4"/>
					<stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
				</radialGradient>
				<radialGradient id="paint1_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(48.7333 90) rotate(90) scale(3 9.76)">
					<stop stop-color="#C4C4C4"/>
					<stop offset="1" stop-color="#C4C4C4" stop-opacity="0"/>
				</radialGradient>
				<linearGradient id="paint2_linear" x1="75" y1="55" x2="55" y2="55" gradientUnits="userSpaceOnUse">
					<stop stop-color="#B0B0B0"/>
					<stop offset="1" stop-color="#8C8C8C"/>
				</linearGradient>
				<linearGradient id="paint3_whatevs" x1="33" y1="73" x2="33" y2="40" gradientUnits="userSpaceOnUse">
					<stop id="cup-stop" offset="0" stop-color="#DCDCDC"/>
					<stop offset="1" stop-color="#F0EFEF"/>
				</linearGradient>
			</defs>
		</svg>

	</div>

	<h1>Work</h1>
	<p>stories of product design & web apps I’ve built</p>
	
	<svg class="ribbon-left" width="291" height="12" viewBox="0 0 291 12" fill="none" xmlns="http://www.w3.org/2000/svg">
	<line x1="291" y1="5.5" x2="199" y2="5.5" stroke="#D8D8D8"/>
	<line x1="171" y1="5.5" x2="-4.37114e-08" y2="5.49999" stroke="#D8D8D8"/>
	<rect x="185" y="0.707107" width="7" height="7" rx="1.5" transform="rotate(45 185 0.707107)" stroke="var(--c-high)"/>
	</svg>

	<h3>Stories</h3>

	<svg class="ribbon-right" width="288" height="12" viewBox="0 0 288 12" fill="none" xmlns="http://www.w3.org/2000/svg">
	<line y1="-0.5" x2="91.0515" y2="-0.5" transform="matrix(1 0 0 -1 0 5)" stroke="#D8D8D8"/>
	<line y1="-0.5" x2="169.237" y2="-0.5" transform="matrix(1 -8.83334e-08 -8.65215e-08 -1 118.764 5)" stroke="#D8D8D8"/>
	<rect y="0.710761" width="6.95887" height="6.95887" rx="1.5" transform="matrix(-0.703434 0.710761 0.703434 0.710761 104.408 0.20558)" stroke="var(--c-high)"/>
	</svg>
	<ul class="work-list case-studies">
		<li>
			<a href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				<span>The number of clicks</span>
			</a>
			<div class="thumbnail">
				<svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_d)">
						<rect x="40" y="8" width="32" height="32" rx="12" transform="rotate(90 40 8)" fill="white"/>
					</g>
						<path d="M32.1073 32.2435L31.0723 33.2452C30.6796 33.6252 30.0546 33.6197 29.6688 33.2327L26.5347 30.0901L24.8928 32.4038C24.4199 33.0702 23.3908 32.9188 23.1297 32.1445L19.7047 21.985C19.4377 21.1929 20.2026 20.4422 20.9895 20.7241L31.1209 24.3528C31.8925 24.6291 32.0223 25.6654 31.3426 26.1235L29.0071 27.6974L32.1199 30.8188C32.5141 31.214 32.5084 31.8554 32.1073 32.2435Z" fill="var(--c-high)"/>
						<circle cx="17" cy="17" r="1" fill="var(--c-high)"/>
						<rect x="24.7676" y="12.866" width="4" height="4" transform="rotate(30 24.7676 12.866)" fill="var(--c-high)"/>
						<rect x="13.0791" y="22" width="4" height="4" rx="1" transform="rotate(15.655 13.0791 22)" fill="var(--c-high)"/>
					<defs>
						<filter id="filter0_d" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
						<feFlood flood-opacity="0" result="BackgroundImageFix"/>
						<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
						<feOffset/>
						<feGaussianBlur stdDeviation="4"/>
						<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
						<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
						<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
						</filter>
					</defs>
				</svg>

			</div>
			<h4>The number of clicks</h4>
			<h5>Exploring if fewer interactions are infact better</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">
				<span>Why I build my new website as a single html document</span>
			</a>
			<div class="thumbnail">
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_d)">
					<rect x="36" y="8" width="32" height="24" rx="4" transform="rotate(90 36 8)" fill="white"/>
					</g>
					<circle cx="24" cy="16" r="4" fill="var(--c-high)"/>
					<rect x="17" y="24" width="10" height="2" rx="1" fill="var(--c-high)"/>
					<rect x="17" y="28" width="4" height="2" rx="1" fill="var(--c-high)"/>
					<rect x="23" y="28" width="8" height="2" rx="1" fill="var(--c-high)"/>
					<rect x="17" y="32" width="6" height="2" rx="1" fill="var(--c-high)"/>
					<circle cx="26" cy="33" r="1" fill="var(--c-high)"/>
					<defs>
					<filter id="filter0_d" x="4" y="0" width="40" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
					<feOffset/>
					<feGaussianBlur stdDeviation="4"/>
					<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
					<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
					<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
					</filter>
					</defs>
				</svg>
			</div>
			<h4>Why I build my new website as a single html document</h4>
			<h5>A few notes around my new portfolio page</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

	<svg class="ribbon-left" width="273" height="8" viewBox="0 0 273 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M272 3.50002L178 3.49995" stroke="#D8D8D8"/>
	<line y1="-0.5" x2="153.997" y2="-0.5" transform="matrix(-1 0 0 1 153.998 4.00012)" stroke="#D8D8D8"/>
	<path d="M162.502 4C162.502 5.933 164.069 7.5 166.002 7.5C167.935 7.5 169.502 5.933 169.502 4C169.502 2.067 167.935 0.5 166.002 0.5C164.069 0.499999 162.502 2.06699 162.502 4Z" stroke="var(--c-high)"/>
	</svg>

	<h3>Personal projects</h3>
	
	<svg class="ribbon-right" width="273" height="8" viewBox="0 0 273 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M1 3.50002L95.0001 3.49998" stroke="#D8D8D8"/>
	<line x1="119.002" y1="3.50012" x2="273" y2="3.50018" stroke="#D8D8D8"/>
	<path d="M110.5 4C110.5 5.93301 108.933 7.5 107 7.5C105.067 7.5 103.5 5.933 103.5 4C103.5 2.067 105.067 0.500001 107 0.500001C108.933 0.500002 110.5 2.067 110.5 4Z" stroke="var(--c-high)"/>
	</svg>

	<ul class="work-list personal-projects">
		<li>
			<a href="https://typings.app" target="_blank" rel="noopener">
				<span>Typings web app</span>
			</a>
			<div class="thumbnail">
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_d)">
					<rect x="8" y="12" width="32" height="24" rx="6" fill="white"/>
					</g>
					<rect x="12" y="16" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="12" y="22" width="6" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="12" y="28" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="24" y="16" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="26" y="22" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="18" y="16" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="20" y="22" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="18" y="28" width="12" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="30" y="16" width="6" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="32" y="22" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<rect x="32" y="28" width="4" height="4" rx="1" fill="var(--c-high)"/>
					<defs>
					<filter id="filter0_d" x="0" y="4" width="48" height="40" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
					<feOffset/>
					<feGaussianBlur stdDeviation="4"/>
					<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
					<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
					<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
					</filter>
					</defs>
				</svg>
			</div>
			<h4>Typings: web app</h4>
			<h5>Break-in that new keyboard, in cyrillic!</h5>
			<span class="button-text">View</span>
		</li>
		<li>
			<a href="https://lockedin.app" target="_blank" rel="noopener">
				<span>Lockedin: progressive web app</span>
			</a>
			<div class="thumbnail">
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g filter="url(#filter0_d)">
				<rect x="8" y="8" width="32" height="32" rx="16" fill="white"/>
				</g>
				<path d="M18 28.5884V19.4813C18 17.9379 19.6741 16.9762 21.0074 17.7536L28.9761 22.4001C30.3131 23.1796 30.296 25.1171 28.9456 25.873L20.9769 30.3336C19.6437 31.0799 18 30.1163 18 28.5884Z" fill="var(--c-high)"/>
				<defs>
				<filter id="filter0_d" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
				<feOffset/>
				<feGaussianBlur stdDeviation="4"/>
				<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
				<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
				<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
				</filter>
				</defs>
				</svg>
			</div>
			<h4>Lockedin: progressive web app</h4>
			<h5>Streaming online radio </h5>
			<span class="button-text">View</span>
		</li>
 		<li>
			<a href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
				<span>Text counts: Figma plug-in</span>
			</a>
			<div class="thumbnail">
				<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_d)">
					<rect x="8" y="8" width="32" height="32" rx="12" fill="white"/>
					</g>
					<path d="M18.8208 15.7921C18.9225 14.7747 19.7786 14 20.801 14V14C21.9784 14 22.8983 15.0166 22.7812 16.1881L21.1792 32.2079C21.0775 33.2253 20.2214 34 19.199 34V34C18.0216 34 17.1017 32.9834 17.2188 31.8119L18.8208 15.7921Z" fill="var(--c-high)"/>
					<path d="M26.8208 15.7921C26.9225 14.7747 27.7786 14 28.801 14V14C29.9784 14 30.8983 15.0166 30.7812 16.1881L29.1792 32.2079C29.0775 33.2253 28.2214 34 27.199 34V34C26.0216 34 25.1017 32.9834 25.2188 31.8119L26.8208 15.7921Z" fill="var(--c-high)"/>
					<path d="M32.2079 18.8208C33.2253 18.9225 34 19.7786 34 20.801V20.801C34 21.9784 32.9834 22.8983 31.8119 22.7812L15.7921 21.1792C14.7747 21.0775 14 20.2214 14 19.199V19.199C14 18.0216 15.0166 17.1017 16.1881 17.2188L32.2079 18.8208Z" fill="var(--c-high)"/>
					<path d="M32.2079 26.8208C33.2253 26.9225 34 27.7786 34 28.801V28.801C34 29.9784 32.9834 30.8983 31.8119 30.7812L15.7921 29.1792C14.7747 29.0775 14 28.2214 14 27.199V27.199C14 26.0216 15.0166 25.1017 16.1881 25.2188L32.2079 26.8208Z" fill="var(--c-high)"/>
					<defs>
					<filter id="filter0_d" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
					<feOffset/>
					<feGaussianBlur stdDeviation="4"/>
					<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
					<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
					<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
					</filter>
					</defs>
				</svg>


			</div>
			<h4>Text counts: Figma plug-in</h4>
			<h5>Count characters and words with ease</h5>
			<span class="button-text">View</span>
		</li>
	</ul>

</section>