<section id="work" role="region" aria-label="work showcase">

	<div class="visual coffee">

		{% include "svgs/visuals/visual-coffee" %}

	</div>

	<h1>Work</h1>
	
	{% include "svgs/ribbons/ribbon-stories-left" %}

	<h3>Case studies</h3>

	{% include "svgs/ribbons/ribbon-stories-right" %}
	
	<ul class="work-list case-studies">
		<li>
			<a href="/onboarding-redesign-case-study">
			
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-onboarding" %}
				</div>
				<h4>Redesigning Skrill's onboarding journey<span><strong>The story</strong> of how we identified major issues in our new customer journey and what we did to fix them.</span></h4>
			</a>
		</li>
	</ul>

	{% include "svgs/ribbons/ribbon-projects-left" %}

	<h3>Personal projects</h3>
	
	{% include "svgs/ribbons/ribbon-projects-right" %}
	

	<ul class="work-list personal-projects">
		<li class="inactive">
			<a href="#work" rel="noopener">

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-mic" %}
				</div>
				<h4>Design Bits <span>A <strong>Podcast</strong> about product design</span></h4>

			</a>
		</li>
		<li>
			<a href="https://archive.sintez.studio/en/" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-sintez" %}
				</div>
				<h4>Sintez Podcast Studio <span>A <strong>website</strong> for a podcast studio</span></h4>

			</a>
		</li>
		<li>
			<a href="https://typingsapp.panev.net" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-typings" %}
				</div>
				<h4>Typings <span>A <strong>web app</strong> that helps you learn how to type fast in cyrillic!</span></h4>

			</a>
		</li>
 		<li>
			<a href="https://www.figma.com/community/plugin/740632514053994647/Text-Counts" target="_blank" rel="noopener">
			
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-textcounts" %}
				</div>
				<h4>Text counts <span>A <strong>Figma plug-in</strong> that lets you count characters with ease</span></h4>

			</a>
		</li>
	</ul>

	{% include "svgs/ribbons/ribbon-stories-left" %}

	<h3>Articles</h3>

	{% include "svgs/ribbons/ribbon-stories-right" %}
	
	<ul class="work-list articles">
		<li>
			<a href="https://panev.medium.com/the-number-of-clicks-f1f27d980637" target="_blank" rel="noopener">
				
				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-clicks" %}
				</div>
				<h4>The number of clicks <span>Are fewer interactions better? Does counting clicks make sense?</span></h4>
			
			</a>
		</li>
		<li>
			<a href="https://panev.medium.com/why-i-build-my-new-website-as-a-single-html-document-1bd66846badb" target="_blank" rel="noopener">

				<div class="thumbnail">
					{% include "svgs/thumbs/thumbs-why" %}
				</div>
				<h4>Why I built my new website as a single html document<span>Musings for a simpler web</span></h4>

			</a>
		</li>
	</ul>

</section>