<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>

	<meta name="description" content="Todor Panev's personal portfolio website. Includes product design case studies as well as personal projects">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="alternate icon" href="/img/favicon.png">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

	{{ content }}

	{% include "components/footer" %}

</body>
<script type="text/javascript" src="/js/scripts-main.js"></script>
</html>