<div class="themes">
	<div data-analytics='"Action: Theme Purple"' class="purple-container theme-active" onclick="setPurple()">
		<div class="dot"></div>
		<div class="label">Purple</div>
	</div>
	<div data-analytics='"Action: Theme Peach"' class="peach-container" onclick="setPeach()">
		<div class="dot"></div>
		<div class="label">Peach</div>
	</div>
	<div data-analytics='"Action: Theme Mono"' class="mono-container" onclick="setMono()">
		<div class="dot"></div>
		<div class="label">Mono</div>
	</div>
	<div data-analytics='"Action: Theme Dark Mono"' class="dark-mono-container" onclick="setDarkMono()">		
		<div class="dot"></div>
		<span class="label">Dark Mono</span>
	</div>
</div>