
{% include "head" %}

<body>

	{{ content }}

	{% include "components/footer" %}

	{% include "snippets/plausible-tags" %}
	
</body>
<script type="text/javascript" src="/js/scripts-main.js"></script>
<script defer data-domain="panev.net" src="https://plausible.io/js/plausible.js"></script>

</html>