
{% include "head" %}

<body class="zencastr">

	{{ content }}

</body>

<script type="text/javascript" src="/js/scripts-zencastr.js"></script>
<script defer data-domain="panev.net" src="https://plausible.io/js/plausible.js"></script>

</html>